body{
    background-color: lightgoldenrodyellow;
    color:black;
    font-family:'Courier New', Courier, monospace;
}
#g1{
    color:orange;
    font-size: 200%;

}
#g2{
    color:rgb(110, 167, 253);
    font-size: 200%;

}
#g3{
    color:rgb(224, 232, 110);
    font-size: 200%;

}
#g4{
    color:rgb(127, 253, 110);
    font-size: 170%;

}
#g5{
    color:black;
    font-size: 200%;

}
#g6{
    color:red;
    font-size: 200%;

}
.Gallery{
    transition: all 2s ease-in-out 1s;
    position:relative;
    width: 200px;
    height: 200px;
    float:left;
    margin:30px;

}
img{
    transition: all 2s ease-in-out 1s;
    /* position:absolute; */
    width: 90%;
    height: 90%;
    border: 2px solid black;

}
h1{
    text-align: center;
}